<div class="row">
  <div class="col-xl-8 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="user-avatar col-md-12">
          <img src="/assets/images/avatar/{{user.avatar}}.png" alt="">
          <div class="title">{{user.displayName}}</div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="container">
          <div class="setting-choice-box">
            <form #form="ngForm">
              <ul class="option-list">
                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Username</div>
                    <div class="option-value col-md-4 col-sm-6">
                      {{user.username}}
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">Username of current user.</div>
                </li>

                <li class="option">
                    <div class="option-body row">
                      <div class="option-title col-md-8 col-sm-6">User Type</div>
                      <div class="option-value col-md-4 col-sm-6">
                        {{user.type}}
                      </div>
                    </div>
                    <div class="option-summary text-hint font-w-light">Type of user.</div>
                  </li>

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Last Signed In</div>
                    <div class="option-value col-md-4 col-sm-6">
                      {{user.lastSignedIn}}
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">Your Last signed In time.</div>
                </li>

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Display Name</div>
                    <div class="option-value col-md-4 col-sm-6">
                      <input [(ngModel)]="user.displayName" class="form-control form-control-info" type="text" name="displayName" />
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">What do you want your display name??</div>
                </li>

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Change Password</div>
                    <div class="option-value col-md-4 col-sm-6">
                      <button (click)="changePasswordToggle = !changePasswordToggle" class="btn btn-secondary btn-block">Change Password</button>
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">Change your password??</div>
                  <div class="container p-2" [class.d-md-none]="!changePasswordToggle">
                    <div class="text-info p-2">Change Password Details</div>
                    <div class="row">
                      <div class="col-md-4">
                        <input name="oldPassword" [(ngModel)]="password.oldPassword" type="password" class="form-control form-control-info" placeholder="Old Password">                        
                      </div>
                      <div class="col-md-4">
                        <input name="newPassword" [(ngModel)]="password.newPassword" type="password" class="form-control form-control-info" placeholder="New Password">
                        <small class="text-danger" [class.d-none]="!error">Password must be greater than 4</small>
                      </div>
                      <div class="col-md-4">
                          <button (click)="changePassword()" class="btn btn-outline-primary">Change Password</button>
                        </div>
                    </div>
                  </div>
                </li>

              </ul>
            </form>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="saveProfile()" [disabled]="!form.valid" class="col-md-4 offset-md-8 btn btn-hero-info" type="button">
          Save
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>