<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-2 col-sm-4">
          <div class="dropdown" ngbDropdown>
              <button class="btn btn-outline-success" type="button" ngbDropdownToggle>
                {{ tableTitle }}
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li class="dropdown-item" *ngFor="let item of schemas" (click)="onSelectSchema(item.name)">
                  {{ item.name }}
                </li>
              </ul>
            </div>
      </div>      
      <button (click)="openAddColumnModal()" type="button" class="col-md-2 offset-md-7 mr-2 btn btn-success btn-sm">
        Add column
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <ng2-smart-table [settings]="settings" [source]="source"  (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
    <ng2-smart-table class='from-control-success' [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>