<div class="row">
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Add New Schema</nb-card-header>
      <nb-card-body>
        <div class="schema-options">
          <button type="button" (click)="showAddSchemaModal()" class="btn btn-success btn-round btn-block">Add Schema</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3" *ngFor="let schema of schemas">
    <nb-card>
      <nb-card-header>{{schema.name}}</nb-card-header>
      <nb-card-body>
        <div class="schema-options">            
          <button (click)="viewSchema(schema.name)" type="button" class="btn btn-round btn-primary btn-block">View Schema</button>          
          <button (click)="apiAccess(schema.name)" type="button" class="btn btn-round btn-info btn-block">API Access</button>
          <button (click)="editSchema(schema.name)" type="button" class="btn btn-round btn-warning btn-block">Edit Schema</button>
          <button (click)="deleteSchema(schema.name,$event)" type="button" class="btn btn-round btn-danger btn-block">Delete Schema</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>