<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        Storage Service Configurations
      </nb-card-header>
      <nb-card-body>
        <div class="container">
          <div class="setting-choice-box">
            <div class="title text-hint">File Upload Options</div>
            <ul class="option-list">

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Upload Directory</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <input name="uploadDirectory" [(ngModel)]="storageConfiguration.uploadDirectory" type="text" class="form-control form-control-info">
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Where you want to store file??</div>
              </li>

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Enable Upload</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <label class="row">
                      <div class="col-md-4 text-hint" *ngIf="!storageConfiguration.enableUpload">Enable</div>
                      <div class="col-md-4 text-hint" *ngIf="storageConfiguration.enableUpload">Disable</div>
                      <div class="col-md-4">
                        <div class="switch">
                          <input type="checkbox" [(ngModel)]="storageConfiguration.enableUpload" name="enableUpload">
                          <span class="slider" [class.slider-disable]="!storageConfiguration.enableUpload"></span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Do you want to enable or disable storageConfiguration routes?</div>
              </li>

              <!-- <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Max number of files</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <input type="number" [(ngModel)]="storageConfiguration.maxNumberOfFilesPerRequest" name="fileSizeLimit" class="form-control form-control-info">
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">What maximum number of files you want to allow?</div>
              </li> -->

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">File Size Limit (in MB)</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <input type="number" pattern="[a-z]" maxlength="50" [(ngModel)]="storageConfiguration.maxFileSizeLimit" name="fileSizeLimit"
                      class="form-control form-control-info">
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">What maximum file size you want to allow?</div>
              </li>
              
              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Allowed Mime types</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <input type="text" placeholder="Mime Type Allowed" class="form-control form-control-info" #mimeTypeAllowed>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Which type of files are allowed to stored?</div>

                <div class="container p-2">
                  <div class="row">
                    <div class="col-md-8 row">
                      <div class="p-3 item" *ngFor="let item of storageConfiguration.allowedMimeTypes">
                        {{item}}
                        <button type="button" (click)="removeAllowedMimeTypeFromList(item)" class="ml-1 close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>                    
                    <div class="offset-md-1 col-md-3">
                      <button (click)="addAllowedMimeTypeToList(mimeTypeAllowed)" class="btn btn-outline-primary" type="button">
                        Add
                      </button>
                    </div>
                  </div>
                </div>

              </li>

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Excepted Mime types</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <input type="text" placeholder="Mime Type Excepted" class="form-control form-control-info" #mimeTypeExcepted>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Which type of files are not allowed to be stored?</div>

                <div class="container p-2">
                  <div class="row">
                    <div class="col-md-8 row">
                      <div class="p-3 item" *ngFor="let item of storageConfiguration.exceptedMimeTypes">
                        {{item}}
                        <button type="button" (click)="removeExceptedMimeTypesFromList(item)" class="ml-1 close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>                    
                    <div class="offset-md-1 col-md-3">
                      <button (click)="addExceptedMimeTypesToList(mimeTypeExcepted)" class="btn btn-outline-primary" type="button">
                        Add
                      </button>
                    </div>
                  </div>
                </div>

              </li>

            </ul>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button (click)="saveStorageConfig()" class="col-md-4 offset-md-8 btn btn-hero-info" type="button">
          Save
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>