<div class="row" *ngIf="isLoaded">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        Select Model to Configure
        <button class="btn btn-success pull-right" (click)="ngOnInit()"><i class="fa fa-refresh"></i></button>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Model Name</th>
              <th scope="col">Schema</th>
              <th scope="col">Options</th>
              <th scope="col">Final Model</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of myModels">
              <td>{{item.name}}</td>
              <td>{{item.data.collectionName}}</td>
              <td>
                <div *ngIf="item.status!='Final training started'&&item.status!='Final training completed'">
                  <button class="btn btn-sm btn-outline-info" (click)="updateAasReply(item)" [disabled]="(item.status=='Started')||false">Configure</button>
                  <button class="btn btn-sm btn-outline-primary" (click)="startTraining(item)" [disabled]="!item.structure||false" *ngIf="!(item.status=='Started')">
                  Train</button>
                  <button class="btn btn-sm btn-outline-primary" (click)="startTraining(item)" [disabled]="true" *ngIf="(item.status=='Started')">
                  Training</button>
                  <button class="btn btn-sm btn-outline-danger" (click)="showError(item)" *ngIf="(item.status=='Error')"> Error</button>
                  <button class="btn btn-sm btn-outline-success" [disabled]="!(item.status=='Completed')" (click)="showResult(item)">View Result</button>

                </div>
              </td>

              <td>
                <button class="btn btn-sm btn-outline-primary" [disabled]="true" *ngIf="(item.status=='Final training started')"> Training</button>
                <div *ngIf="(item.status=='Final training completed')">
                  <p>The test end point is now open at :</p>
                  <code>http://localhost:5000/analytics/test/</code>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </nb-card-body>
    </nb-card>



  </div>
</div>

<div *ngIf="editEnabled">

  <app-configure-imported [attributes]="aasReply.data.collectionAttributes" (submitEvent)="sendConfiguration($event)"></app-configure-imported>


</div>

<div *ngIf="isresultReady">
  <app-display-result [resultObj]="resultObject" (finalEvent)="sendForFinalTrain($event)"></app-display-result>
</div>