<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        Authentication Configurations
      </nb-card-header>
      <nb-card-body>
        <div class="container">
          <div class="setting-choice-box">
            <div class="title text-hint">Sign up options</div>
            <ul class="option-list">

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-8 col-sm-6">Primary Login with</div>
                  <div class="option-value col-md-4 col-sm-6">
                    <div class="dropdown" ngbDropdown>
                      <button class="btn btn-outline-info" type="button" ngbDropdownToggle>
                        {{configurations.signInOptions.primaryLogin}}
                      </button>
                      <ul ngbDropdownMenu class="dropdown-menu">
                        <li class="dropdown-item" (click)="configurations.signInOptions.primaryLogin = item" *ngFor="let item of primaryLoginOptions">
                          {{item}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Choose a primary login method.</div>
              </li>

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-6 col-sm-6">Email Verification</div>
                  <div class="col-md-2">
                    <i class="fa-2x ion ion-email" [class.text-warning]="configurations.signInOptions.verifyWithEmail"></i>
                  </div>
                  <div class="option-value col-md-4 col-sm-6">
                    <label class="row">
                      <div class="col-md-4 text-hint" *ngIf="!configurations.signInOptions.verifyWithEmail">Enable</div>
                      <div class="col-md-4 text-hint" *ngIf="configurations.signInOptions.verifyWithEmail">Disable</div>
                      <div class="col-md-4">
                        <div class="switch">
                          <input type="checkbox" name="verifyEmail" [(ngModel)]="configurations.signInOptions.verifyWithEmail" [checked]="configurations.signInOptions.verifyWithEmail">
                          <span class="slider" [class.slider-disable]="!configurations.signInOptions.verifyWithEmail"></span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Varify Email in case of email usage</div>
              </li>

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-6 col-sm-6">Gmail login</div>
                  <div class="col-md-2">
                    <i class="fa-2x ion ion-social-google-outline" [class.text-danger]="configurations.signInOptions.googleLoginOption.isEnabled"></i>
                  </div>
                  <div class="option-value col-md-4 col-sm-6">
                    <label class="row">
                      <div class="col-md-4 text-hint" *ngIf="!configurations.signInOptions.googleLoginOption.isEnabled">Enable</div>
                      <div class="col-md-4 text-hint" *ngIf="configurations.signInOptions.googleLoginOption.isEnabled">Disable</div>
                      <div class="col-md-4">
                        <div class="switch">
                          <input type="checkbox" name="viaGoogle" [(ngModel)]="configurations.signInOptions.googleLoginOption.isEnabled" [checked]="configurations.signInOptions.loginWithGoogle"
                            #gmailCheck>
                          <span class="slider" [class.slider-disable]="!configurations.signInOptions.googleLoginOption.isEnabled"></span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Set sign up with Gmail</div>
                <div class="container p-2" [class.d-md-none]="!configurations.signInOptions.googleLoginOption.isEnabled">                                    
                  <div class="row">
                    <div class="input-group col-md-7">
                      <input [(ngModel)]="configurations.signInOptions.googleLoginOption.clientID" [disabled]="!unlockEdit" class="form-control" name="googleClientID" type="text" placeholder="Paste your Google client ID">
                    </div>
                    <div class="input-group col-md-3">
                      <input [(ngModel)]="configurations.signInOptions.googleLoginOption.clientSecrete" [disabled]="!unlockEdit" class="form-control" name="googleClientSecrete" type="text" placeholder="Paste your Google client Secrete">
                    </div>
                    <button (click)="unlockEdit = !unlockEdit" class="btn btn-outline-warning">Edit <i class="fa fa-edit"></i></button>
                  </div>
                  <br>
                  <span class="text-danger">Once Parameters set for google login server need to be restart to set it in action.</span>
                  <br>
                </div>
              </li>

              <li class="option">
                <div class="option-body row">
                  <div class="option-title col-md-6 col-sm-6">
                    Facebook login
                  </div>
                  <div class="col-md-2">
                    <i class="fa-2x ion ion-social-facebook" [class.text-primary]="configurations.signInOptions.facebookLoginOption.isEnabled"></i>
                  </div>
                  <div class="option-value col-md-4 col-sm-6">
                    <label class="row">
                      <div class="col-md-4 text-hint" *ngIf="!configurations.signInOptions.facebookLoginOption.isEnabled">Enable</div>
                      <div class="col-md-4 text-hint" *ngIf="configurations.signInOptions.facebookLoginOption.isEnabled">Disable</div>
                      <div class="col-md-4">
                        <div class="switch">
                          <input type="checkbox" name="viaGoogle" [(ngModel)]="configurations.signInOptions.facebookLoginOption.isEnabled" [checked]="configurations.signInOptions.loginWithGoogle"
                            #gmailCheck>
                          <span class="slider" [class.slider-disable]="!configurations.signInOptions.facebookLoginOption.isEnabled"></span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="option-summary text-hint font-w-light">Set sign up with Gmail</div>
              </li>
            </ul>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="saveConfigurations()" class="col-md-4 offset-md-8 btn btn-hero-info" type="button">
          Save
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4">
    <nb-card>
      <nb-card-header>
        Todo-Some Graphs Related to User
      </nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>