<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        Add Route Configurations
      </nb-card-header>
      <nb-card-body>
        <form #form="ngForm">
          <div class="container">
            <div class="setting-choice-box">
              <div class="title text-hint">Route Parameters</div>
              <ul class="option-list">

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Name</div>
                    <div class="option-value col-md-4 col-sm-6">
                      <input name="aasName" [(ngModel)]="aasSettings.name" type="text" class="form-control form-control-info">
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">What do you want to call it??</div>
                </li>

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Algorithm</div>
                    <div class="option-value col-md-4 col-sm-6">
                      <div class="dropdown" ngbDropdown>
                        <button class="btn btn-outline-info" type="button" ngbDropdownToggle>
                          {{aasSettings.algorithm}}
                        </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                          <li class="dropdown-item" (click)="aasSettings.algorithm = item" *ngFor="let item of algorithmList">
                            {{item}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">Which Algorithm to choose?</div>
                </li>

                <li class="option">
                  <div class="option-body row">
                    <div class="option-title col-md-8 col-sm-6">Route Name</div>
                    <div class="option-value col-md-4 col-sm-6">
                      <label class="row">
                        <div class="col-md-4 text-hint" *ngIf="!aasSettings.normalization">Enable</div>
                        <div class="col-md-4 text-hint" *ngIf="aasSettings.normalization">Disable</div>
                        <div class="col-md-4">
                          <div class="switch">
                            <input type="checkbox" name="verifyEmail" [(ngModel)]="aasSettings.normalization" [checked]="normalization">
                            <span class="slider" [class.slider-disable]="!aasSettings.normalization"></span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="option-summary text-hint font-w-light">What do you want to call it??</div>
                </li>

              </ul>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="onSubmit()" [disabled]="!form.valid" class="col-md-4 offset-md-8 btn btn-hero-info" type="button">
          Save
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>